@charset "utf-8";

#body {background:#fff;}
.footer {border-top:1px solid #ddd;}
	
.head>.layout{height:35px;}
/*logo*/
	.logo {position:relative; padding:20px 0; height:43px;}
	.logo_box {float:left; height:43px; overflow:hidden; margin-right:10px;}
	.logo_box img {height:43px; width:auto;}
	.logo_text {float:left; height:43px; line-height:43px; font-weight:400; font-size:22px; font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;}
/*tips*/
	.tips {height:46px; border-bottom:2px solid #e6e6e6; position:relative;}
	.tips ul {margin:0 auto; width:720px;}
	.tips ul li {width:150px; float:left; padding-left:30px; font-size:16px; height:46px; line-height:46px; color:#999; font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial; font-weight:700;}
	.tips ul li i {font-size:24px; margin-right:5px; display:inline-block; vertical-align:top; font-weight:normal;}
	.tips .tips_now {color: #3e3e3e; border-bottom: 2px solid #ff4700;}
	.tips .tips_now i {color:#f40;}
	.tips div {float:right; margin-top:15px; font-size:12px;}
	.tips div a {padding:3px 5px; color:#333; border:1px solid #ddd; border-radius:3px; margin-right:3px;}
	.tips div a:hover {text-decoration:underline; color:#f40;}

/*message 填写信息*/
	.message {padding:50px 0;}
	.user_pass {display:none;}
	.for_box {width:720px; margin:0 auto; font-size:14px;}
	.for_box>div {padding:10px 0 10px 260px; line-height:36px; height:37px;}
	.for_box>div>span {display:inline-block; margin-left:-260px; width:240px; text-align:right; line-height:37px; height:37px; }
	.for_box>div>div {position:relative; width:460px; float:right;}
	.class_op {width:150px; border:1px solid #ccc; font-size:14px; cursor:pointer; float:left; padding-left:10px; height:35px; font-weight:700; overflow:hidden; outline:none;}
	.phone_num {width:140px; float:left; border:1px solid #dedede; height:15px ;line-height:15px; padding:9px; font-size:14px;}

	.user {width:222px;}
	.password {width:222px;}
	.for_box div .goto {width:100px; margin-right:320px;}
	/*滑动框*/
	.for_box .move {width:300px; margin-right:160px; height:35px; background:#e8e8e8;}
	.move {cursor:pointer;}
	.move_bd {height:35px; background:#7ac23c; width:0; position:absolute; left:0; top:0;}
	.move_txt {width:100%; overflow:hidden; text-align:center; position:absolute; left:0; top:0; font-size:12px;}
	.for_box .move span {width:40px; height:33px; line-height:32px; background:#fff; border: 1px solid #ccc; text-align:center; cursor: move; display:block; position:absolute; top:0; left:0; font-size:16px;}
	.for_box .submit {height:36px; width:140px; padding:0 20px; background:#e8e8e8; color:#fff; font-weight:700; text-align:center; border-radius:3px; line-height:36px; font-size:16px; margin-right:280px; margin-top:10px; color:#999; cursor:default;}
	.for_box .submit:hover {color:#fff;}
	.for_box .change {text-align:left;}
	.change a {font-size:12px; color:#f40;}
	.change a:hover {text-decoration:underline;}

	.for_box .move span, .move_txt , .submit {user-select:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none;}
	.for_box .result {display:block; left:320px; top:0; line-height:35px; height:35px; width:200px; font-size:12px; position:absolute;}
	.result i ,.result b{ font-weight:normal; font-style:normal; margin-right:3px;}
	.result i {font-size:14px; vertical-align:top; height:14px; width:14px; display:inline-block;}
/*注册改进建议 */
.advice {padding:10px 0; text-align:right; height:20px;}
	.advice img {width:18px; height:18px;}
	.advice a {font-size:12px; color:#f40;}
	.advice a:hover {text-decoration:underline;}



